#main-body {
    position: relative;
    width: auto;
    margin-top: 480px;
}

select#pick-states {
    color: antiquewhite;
    display: flex;
    width: 180px;
    height: 33.75px;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 0.375em;
    padding: 0.375em 0.375em 0.375em 0.375em;
    border-radius: 99em; // or something higher...
    border: 2px solid antiquewhite;
    background-color: #151A1E;
}

#diagram-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tooltip {
    position: absolute;
    right: 70px;
    bottom: 40px;
    opacity: 0.3;
    width: 160px;
    margin: 20px;
    height: 120px;
    padding: 10px;
    color: antiquewhite;
    line-height: 20px;
    border-radius: 20px;
    background-color: #151A1E;
    border: 3px solid antiquewhite;
}

.chord {
    cursor: pointer;
}