@import './styles/reset.scss';
// @import './styles/new.scss';

$primary-color: #191F24;
$text-color: mix(#000, $primary-color, 64%);


body {
    background-color: #191F24;
    color: antiquewhite;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    // background-color: mix(#fff, $primary-color, 90%);
}

h2{
    display:none;
    
    
}

#title{
    font-size: 25px;
    font-weight: 400;
    width: 100%;
    height: 20px;
    position: relative;
    text-align: center;
    margin-top: 30px;
}

#header {
    font-size: 50px;
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

#main-body {
    position: relative;
    width: auto;
    margin-top: 480px;
   
    
    
}

#instruction {
        background-color: #191F24 ;
        position: absolute;
        top: 150px;
        left: 100px;
        display: flex;
        flex-wrap: wrap;
        width: 280px;
        height: 200px;
        // margin-left: 200px;
        align-items: center;
        flex-direction: row;
        border-radius: 1em;
        text-align: center;
        border: 2px solid antiquewhite;
        // background-color: mix(#fff, $primary-color, 30%)
        z-index: 99;
        margin: 5px;

}

#instruction p{
    display: inline;
    line-height: 20px;
    margin: 5px;
}

h3 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    width: 280px;
    text-align: center;
}



label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin: 5px;
    margin-bottom: 0.375em;

    /* Accessible outline */
    /* Remove comment to use */
    /*
		&:focus-within {
				outline: .125em solid $primary-color;
		}
	*/
    input {
        position: absolute;
        left: -9999px;

        &:checked+span {
            border: 2px solid antiquewhite;

            &:before {
                box-shadow: inset 0 0 0 0.4375em antiquewhite;
            }
        }
    }
    
    span {
        display: flex;
        align-items: center;
        padding: 0.375em 0.75em 0.375em 0.375em;
        border-radius: 99em; // or something higher...
        transition: 0.25s ease;

        &:hover {
            background-color: mix(#fff, $primary-color, 20%);
        }

        &:before {
            display: flex;
            flex-shrink: 0;
            content: "";
            background-color: #151A1E;
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            margin-right: 0.375em;
            transition: 0.25s ease;
            box-shadow: inset 0 0 0 0.125em antiquewhite;
        }
    }
}

form {
    position: absolute;
    top: 150px;
    right: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    height: 100px;
    // margin-left: 200px;
    align-items: center;
    flex-direction:row;
    border-radius: 1em;
    // border: 2px solid antiquewhite;
    // background-color: mix(#fff, $primary-color, 30%)
    z-index: 99;
    }

#submit-button{
    color: antiquewhite;
    display: flex;
    margin-left: 30px;
    height: 33.75px;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 0.375em;
    padding: 0.5em 0.75em 0.375em 0.75em;
    border-radius: 99em; // or something higher...
    border: 2px solid antiquewhite;
    background-color: #151A1E;

    &:hover {
            background-color: mix(#fff, $primary-color, 20%);
        }
}

select#pick-states {
    color: antiquewhite;
    display: flex;
    width: 180px;
    height: 33.75px;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 0.375em;
    padding: 0.375em 0.375em 0.375em 0.375em;
    border-radius: 99em; // or something higher...
    border: 2px solid antiquewhite;
    background-color: #151A1E;
}

#diagram-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tooltip {
    position: absolute;
    right: 100px;
    bottom: 130px;
    opacity: 0.3;
    width: 160px;
    margin: 20px;
    height: 120px;
    padding: 10px;
    color: antiquewhite;
    line-height: 20px;
    border-radius: 20px;
    background-color: #151A1E;
    border: 3px solid antiquewhite;
}

.chord{
 cursor: pointer;
}

.loading-container{
    display: block;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 200px);
    // right: 150%;
    text-align: center;
}


.loading {
    position: relative;
    width: 400px;
    height: 100px;
    border-bottom: 5px solid antiquewhite;
    
    overflow: hidden;
}



.truck {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: move 4s linear infinite;
}

#loading-text{
    margin-top: 20px;
    font-size: 20px;
    font-style: italic;
}

img{
    width: 100px;
    height: 100px;
}

@keyframes move {
    0% {
        left:  -25%;
    }

    100% {
        left: 125%;
    }
}
// footer{
//     position: fixed;
//         left: 0;
//         bottom: 0;
//         width: 100%;
//         color: white;
//         display: flex;
//         align-items: flex-start;
// }


#footer-nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    
    bottom: 0;
    width: 100vw;
}

div#acknowledgement,
div#personal-links {
    position: relative;
    align-self: baseline;
    vertical-align: bottom;
}

a {
    color: white;
}

#data-source {
    color: antiquewhite;
    font-size: 14px;
    margin: 20px;
    margin-left: 40px;
}

#census-logo {
    cursor: pointer;
    margin-left: -10px;
    height: 30px;
}

#personal-links ul {
    display: flex;
    margin: 20px;
}

#author-name{
    color: antiquewhite;
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: auto;
    vertical-align: bottom;
}

#personal-links img{
    cursor: pointer;
    width: 40px;
    height: 40px;
}

#github {
    margin-right: 10px;
    transition: transform .2s;
}

#github:hover {
    transform: scale(1.2);
}

#linkedin {
    margin-left: 10px;
    margin-right: 40px;
    transition: transform .2s;
}

#linkedin:hover {
    transform: scale(1.2);
}

#dark-light-switch {
    position: fixed;
    bottom: 80px;
    right: 50px;
    width: 70px;
    
    color: antiquewhite;
    display: flex;
    height: 30px;
    cursor: pointer;
    font-weight: 500;
    overflow: hidden;
    
    margin-bottom: 0.375em;
    padding: 0.5em 0.75em 0.75em 0.75em;
    border-radius: 99em; // or something higher...
    border: 2px solid antiquewhite;
    background-color: #151A1E;
    text-align: center;
    
        &:hover {
            background-color: mix(#fff, $primary-color, 50%);
        }
    div {
        position: relative;
        // display: flex;
        // top: -8px;
        width: 40px;
        height: 28px;

    }
}

#dark-light-img {
    top: -8px;
    right: -5px;
    position: relative;
    display: flex;
    width: 28px;
    height: 28px;

}